In [1]:
import pandas as pd
import re
import numpy as np
import os

**Importar base de datos 'dolar2019_sii.csv'**: para que se importe bien, debe especificarse el separador, que en este caso es ';', lo cual se hace con sep=';', ya que el archivo csv tiene las columnas separadas por ;.

In [2]:
dolar_2019 = pd.read_csv('https://raw.githubusercontent.com/CatitaR/tarea1-add/master/data/raw/dolar2019_sii.csv',
                         sep=';')
dolar_2019

,DÃ­a,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic
0,1,NaN,"657,81","651,79","678,53",NaN,NaN,"679,15","700,82",NaN,"728,21",NaN,NaN
1,2,"694,77",NaN,NaN,"672,56","678,71",NaN,"677,62","704,88","720,20","729,38",NaN,"812,13"
2,3,"697,09",NaN,NaN,"670,05","683,31","709,80","681,30",NaN,"724,72","727,80",NaN,"804,29"
3,4,"697,64","655,39","656,57","667,55",NaN,"704,59","680,48",NaN,"725,69","719,53","735,05","802,44"
4,5,NaN,"653,80","659,07","666,32",NaN,"696,78","677,64","711,13","723,30",NaN,"736,66","796,75"
5,6,NaN,"652,78","657,49",NaN,"678,68","693,25",NaN,"721,70","717,52",NaN,"745,85","784,25"
6,7,"688,42","653,90","658,40",NaN,"681,09","692,21",NaN,"716,35",NaN,"715,53","743,65",NaN
7,8,"679,69","654,44","662,19","664,17","683,49",NaN,"683,12","718,55",NaN,"717,05","740,23",NaN
8,9,"680,10",NaN,NaN,"663,01","684,51",NaN,"685,83","710,98","711,22","722,28",NaN,"779,04"
9,10,"678,09",NaN,NaN,"663,15","686,43","692,28","688,88",NaN,"713,72","724,27",NaN,"771,29"
10,11,"677,58","656,46","670,83","662,92",NaN,"697,34","685,40",NaN,"714,77","720,61","746,23","778,14"
11,12,NaN,"660,82","669,37","664,19",NaN,"693,60","683,38","712,04","714,39",NaN,"756,08","772,93"
12,13,NaN,"660,49","667,09",NaN,"685,67","694,89",NaN,"716,69","711,29",NaN,"783,72","768,69"
13,14,"675,15","661,60","665,68",NaN,"693,04","696,25",NaN,"708,37",NaN,"712,98","794,51",NaN
14,15,"674,95","665,90","670,62","660,67","692,33",NaN,"681,07",NaN,NaN,"712,04","801,83",NaN
15,16,"673,76",NaN,NaN,"662,86","692,62",NaN,NaN,"710,14","707,07","715,48",NaN,"766,76"
16,17,"672,73",NaN,NaN,"663,98","692,79","698,72","679,48",NaN,"709,81","718,69",NaN,"762,83"
17,18,"671,37","663,98","669,39","660,48",NaN,"699,52","681,69",NaN,NaN,"713,23","782,82","756,95"
18,19,NaN,"660,82","667,21",NaN,NaN,"696,81","683,27","709,26",NaN,NaN,"773,81","752,30"
19,20,NaN,"658,75","664,78",NaN,"696,61","693,99",NaN,"711,94",NaN,NaN,"782,71","752,60"
20,21,"670,10","654,52","666,13",NaN,NaN,"684,19",NaN,"710,63",NaN,"709,71","797,17",NaN
21,22,"672,42","654,33","665,12","662,27","697,23",NaN,"685,81","709,52",NaN,"723,52","795,14",NaN
22,23,"672,26",NaN,NaN,"663,91","696,70",NaN,"688,28","713,22","715,24","726,24",NaN,"749,83"
23,24,"672,41",NaN,NaN,"668,19","698,03","683,41","691,57",NaN,"722,17","726,15",NaN,"754,27"
24,25,"672,14","651,36","676,60","672,83",NaN,"682,31","691,36",NaN,"721,92","723,43","795,94",NaN
25,26,NaN,"649,22","679,08","676,21",NaN,"678,32","694,16","716,40","727,08",NaN,"791,16","751,04"
26,27,NaN,"649,80","679,02",NaN,"694,84","680,06",NaN,"718,75","726,17",NaN,"793,49","746,66"
27,28,"667,04","649,92","683,73",NaN,"696,46","679,86",NaN,"721,55",NaN,"725,87","806,30",NaN
28,29,"671,29",NaN,"681,09","673,86","703,48",NaN,"696,62","724,20",NaN,"724,37","828,25",NaN
29,30,"669,60",NaN,NaN,"677,67","708,20",NaN,"697,22","720,65","725,68","726,34",NaN,"744,62"
30,31,"666,76",NaN,NaN,NaN,"707,86",NaN,"699,98",NaN,NaN,NaN,NaN,NaN
31,Promedio,"677,06","656,30","667,68","667,40","692,00","692,41","686,06","713,70","718,44","721,03","776,53","770,39"

In [3]:
#creo una lista 'names', que me servirÃ¡ despuÃ©s para darle los mismos nombres a todos los data set
names = dolar_2019.columns

In [4]:
#filtro sacando la Ãºltima fila
dolar_2019 = dolar_2019[dolar_2019['DÃ­a'] != 'Promedio']
#convierto la primera fila de la variable a tipo 'int' y las siguientes a tipo 'float', reemplazando la coma por punto
for i in dolar_2019:
    if i=='DÃ­a':
        dolar_2019[i] = dolar_2019[i].str.replace(',', '.').astype(int)
    else:
        dolar_2019[i] = dolar_2019[i].str.replace(',', '.').astype(float)
#creo la variable 'year', que toma el valor 2019 y es de tipo int64
dolar_2019['year'] = 2019
dolar_2019['year'] = dolar_2019['year'].astype('int64')
dolar_2019

/var/folders/zp/qf4mwdy15mdclj5m29nhrj1m0000gn/T/ipykernel_4753/4029567584.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dolar_2019[i] = dolar_2019[i].str.replace(',', '.').astype(int)
/var/folders/zp/qf4mwdy15mdclj5m29nhrj1m0000gn/T/ipykernel_4753/4029567584.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dolar_2019[i] = dolar_2019[i].str.replace(',', '.').astype(float)
/var/folders/zp/qf4mwdy15mdclj5m29nhrj1m0000gn/T/ipykernel_4753/4029567584.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dolar_2019['year'] = 2019
/var/folders/zp/qf4mwdy15mdclj5m29nhrj1m0000gn/T/ipykernel_4753/4029567584.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dolar_2019['year'] = dolar_2019['year'].astype('int64')

,DÃ­a,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic,year
0,1,NaN,657.81,651.79,678.53,NaN,NaN,679.15,700.82,NaN,728.21,NaN,NaN,2019
1,2,694.77,NaN,NaN,672.56,678.71,NaN,677.62,704.88,720.20,729.38,NaN,812.13,2019
2,3,697.09,NaN,NaN,670.05,683.31,709.80,681.30,NaN,724.72,727.80,NaN,804.29,2019
3,4,697.64,655.39,656.57,667.55,NaN,704.59,680.48,NaN,725.69,719.53,735.05,802.44,2019
4,5,NaN,653.80,659.07,666.32,NaN,696.78,677.64,711.13,723.30,NaN,736.66,796.75,2019
5,6,NaN,652.78,657.49,NaN,678.68,693.25,NaN,721.70,717.52,NaN,745.85,784.25,2019
6,7,688.42,653.90,658.40,NaN,681.09,692.21,NaN,716.35,NaN,715.53,743.65,NaN,2019
7,8,679.69,654.44,662.19,664.17,683.49,NaN,683.12,718.55,NaN,717.05,740.23,NaN,2019
8,9,680.10,NaN,NaN,663.01,684.51,NaN,685.83,710.98,711.22,722.28,NaN,779.04,2019
9,10,678.09,NaN,NaN,663.15,686.43,692.28,688.88,NaN,713.72,724.27,NaN,771.29,2019
10,11,677.58,656.46,670.83,662.92,NaN,697.34,685.40,NaN,714.77,720.61,746.23,778.14,2019
11,12,NaN,660.82,669.37,664.19,NaN,693.60,683.38,712.04,714.39,NaN,756.08,772.93,2019
12,13,NaN,660.49,667.09,NaN,685.67,694.89,NaN,716.69,711.29,NaN,783.72,768.69,2019
13,14,675.15,661.60,665.68,NaN,693.04,696.25,NaN,708.37,NaN,712.98,794.51,NaN,2019
14,15,674.95,665.90,670.62,660.67,692.33,NaN,681.07,NaN,NaN,712.04,801.83,NaN,2019
15,16,673.76,NaN,NaN,662.86,692.62,NaN,NaN,710.14,707.07,715.48,NaN,766.76,2019
16,17,672.73,NaN,NaN,663.98,692.79,698.72,679.48,NaN,709.81,718.69,NaN,762.83,2019
17,18,671.37,663.98,669.39,660.48,NaN,699.52,681.69,NaN,NaN,713.23,782.82,756.95,2019
18,19,NaN,660.82,667.21,NaN,NaN,696.81,683.27,709.26,NaN,NaN,773.81,752.30,2019
19,20,NaN,658.75,664.78,NaN,696.61,693.99,NaN,711.94,NaN,NaN,782.71,752.60,2019
20,21,670.10,654.52,666.13,NaN,NaN,684.19,NaN,710.63,NaN,709.71,797.17,NaN,2019
21,22,672.42,654.33,665.12,662.27,697.23,NaN,685.81,709.52,NaN,723.52,795.14,NaN,2019
22,23,672.26,NaN,NaN,663.91,696.70,NaN,688.28,713.22,715.24,726.24,NaN,749.83,2019
23,24,672.41,NaN,NaN,668.19,698.03,683.41,691.57,NaN,722.17,726.15,NaN,754.27,2019
24,25,672.14,651.36,676.60,672.83,NaN,682.31,691.36,NaN,721.92,723.43,795.94,NaN,2019
25,26,NaN,649.22,679.08,676.21,NaN,678.32,694.16,716.40,727.08,NaN,791.16,751.04,2019
26,27,NaN,649.80,679.02,NaN,694.84,680.06,NaN,718.75,726.17,NaN,793.49,746.66,2019
27,28,667.04,649.92,683.73,NaN,696.46,679.86,NaN,721.55,NaN,725.87,806.30,NaN,2019
28,29,671.29,NaN,681.09,673.86,703.48,NaN,696.62,724.20,NaN,724.37,828.25,NaN,2019
29,30,669.60,NaN,NaN,677.67,708.20,NaN,697.22,720.65,725.68,726.34,NaN,744.62,2019
30,31,666.76,NaN,NaN,NaN,707.86,NaN,699.98,NaN,NaN,NaN,NaN,NaN,2019

**Importar la base de datos 'dolar_2020_sii.txt'**: tambiÃ©n es un archivo de texto plano, sin embargo, a diferencia de 'dolar_2019_sii.csv', estÃ¡ separado por la lÃ­nea vertical (|) en lugar de punto y coma (;). AdemÃ¡s, en el archivo 'dolar_2020_sii.txt' la primera fila son datos, no los nombres de las filas. Por lo tanto, para que la funciÃ³n read_csv lea bien el archivo, se debe hacer lo siguiente:
- Especificar que el separador es la lÃ­nea vertical, lo cual se hace con sep='|'
- Indicar que la primera fila no corresponde al nombre de las columnas, con header=None
- Indicar cuÃ¡les serÃ¡n los nombres de las columnas, para que la base de datos se pueda entender mejor. Esto se hace con el parÃ¡metro 'names', y en este caso le indicamos que los nombres de las columnas sean los mismos de la base de datos dolar_2019

In [5]:
dolar_2020_txt = pd.read_csv('https://raw.githubusercontent.com/CatitaR/tarea1-add/master/data/raw/dolar_2020_sii.txt',
                            sep='|',
                            header=None,
                            names=names)
dolar_2020_txt

,DÃ­a,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic
0,1,NaN,NaN,NaN,"852,03",NaN,"806,32","821,23",NaN,"776,46","788,15",NaN,"767,29"
1,2,"748,74",NaN,"818,32","863,81",NaN,"796,46","816,29",NaN,"770,59","785,04","771,92","760,16"
2,3,"754,16","799,11","817,45","861,89",NaN,"782,86","803,98","757,06","771,45",NaN,"769,17","755,34"
3,4,NaN,"790,92","809,81",NaN,"837,92","769,13",NaN,"761,34","773,71",NaN,"758,53","752,03"
4,5,NaN,"781,78","812,19",NaN,"838,74","775,58",NaN,"767,98",NaN,"790,81","757,16",NaN
5,6,"758,49","776,99","823,28","863,99","832,84",NaN,"801,46","774,82",NaN,"794,34","752,01",NaN
6,7,"771,82","779,12",NaN,"853,91","839,08",NaN,"798,79","777,18","773,76","797,35",NaN,"747,61"
7,8,"773,12",NaN,NaN,"842,05","836,27","764,97","793,88",NaN,"773,24","795,05",NaN,NaN
8,9,"766,83",NaN,"828,95","851,90",NaN,"769,26","786,18",NaN,"776,65","797,25","759,25","744,82"
9,10,"764,69","788,80","841,06",NaN,NaN,"771,96","781,74","784,28","767,87",NaN,"753,75","739,45"
10,11,NaN,"795,88","834,22",NaN,"827,65","767,93",NaN,"796,58","764,99",NaN,"760,90","738,17"
11,12,NaN,"792,48","835,48",NaN,"826,05","784,65",NaN,"793,61",NaN,NaN,"757,42",NaN
12,13,"770,56","788,33","852,06","839,49","821,88",NaN,"790,82","792,69",NaN,"796,05","757,43",NaN
13,14,"777,66","795,12",NaN,"844,57","820,38",NaN,"788,22","793,32","768,34","797,66",NaN,"733,55"
14,15,"772,29",NaN,NaN,"848,63","822,93","790,73","787,87",NaN,"767,01","798,56",NaN,"731,58"
15,16,"772,01",NaN,"836,66","859,31",NaN,"796,87",NaN,NaN,"760,01","801,91","766,70","734,23"
16,17,"773,36","792,73","850,51","852,52",NaN,"779,10","787,50","796,73","761,54",NaN,"767,86","735,09"
17,18,NaN,"791,95","855,09",NaN,"823,86","798,53",NaN,"803,40",NaN,NaN,"767,05","723,44"
18,19,NaN,"796,90","862,69",NaN,"820,65","812,19",NaN,"796,23",NaN,"795,68","758,10",NaN
19,20,"771,38","797,40","867,83","849,45","819,08",NaN,"787,26","784,25",NaN,"788,27","758,62",NaN
20,21,"769,93","804,74",NaN,"856,23",NaN,NaN,"786,04","785,84","764,34","786,66",NaN,"723,85"
21,22,"770,50",NaN,NaN,"862,06","806,17","817,33","777,66",NaN,"772,83","784,07",NaN,"730,70"
22,23,"772,12",NaN,"851,01","856,51",NaN,"816,02","769,06",NaN,"773,40","781,41","761,55","728,96"
23,24,"771,94","809,82","861,07","858,87",NaN,"817,90","767,17","790,88","781,44",NaN,"765,96","716,25"
24,25,NaN,"810,20","847,04",NaN,"805,75","820,68",NaN,"786,17","788,02",NaN,"772,83",NaN
25,26,NaN,"807,96","843,96",NaN,"803,74","813,25",NaN,"784,44",NaN,"777,72","771,68",NaN
26,27,"776,52","811,10","836,05","859,95","802,10",NaN,"768,63","786,91",NaN,"779,57","766,00",NaN
27,28,"787,86","816,26",NaN,"856,76","816,47",NaN,"768,81","784,27","787,15","772,05",NaN,"710,26"
28,29,"788,13",NaN,NaN,"850,41","812,74",NaN,"767,82",NaN,"784,19","775,56",NaN,"710,64"
29,30,"788,18",NaN,"835,23","836,62",NaN,"816,36","759,18",NaN,"784,46","770,45","766,69","711,24"
30,31,"797,96",NaN,"846,30",NaN,NaN,NaN,"754,45","779,92",NaN,NaN,NaN,NaN
31,Promedio,"772,65","796,38","839,38","853,38","821,81","793,72","784,73","784,66","773,40","788,27","762,88","734,73"

In [6]:
#filtro sacando la Ãºltima fila
dolar_2020_txt = dolar_2020_txt[dolar_2020_txt['DÃ­a'] != 'Promedio']
#convierto la primera fila de la variable a tipo 'int' y las siguientes a tipo 'float', reemplazando la coma por punto
for i in dolar_2020_txt:
    if i=='DÃ­a':
        dolar_2020_txt[i] = dolar_2020_txt[i].str.replace(',', '.').astype(int)
    else:
        dolar_2020_txt[i] = dolar_2020_txt[i].str.replace(',', '.').astype(float)
#creo la variable 'year', que toma el valor 2020 y es de tipo int64
dolar_2020_txt['year'] = 2020
dolar_2020_txt['year'] = dolar_2020_txt['year'].astype('int64')
dolar_2020_txt

/var/folders/zp/qf4mwdy15mdclj5m29nhrj1m0000gn/T/ipykernel_4753/3923924032.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dolar_2020_txt[i] = dolar_2020_txt[i].str.replace(',', '.').astype(int)
/var/folders/zp/qf4mwdy15mdclj5m29nhrj1m0000gn/T/ipykernel_4753/3923924032.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dolar_2020_txt[i] = dolar_2020_txt[i].str.replace(',', '.').astype(float)
/var/folders/zp/qf4mwdy15mdclj5m29nhrj1m0000gn/T/ipykernel_4753/3923924032.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dolar_2020_txt['year'] = 2020
/var/folders/zp/qf4mwdy15mdclj5m29nhrj1m0000gn/T/ipykernel_4753/3923924032.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dolar_2020_txt['year'] = dolar_2020_txt['year'].astype('int64')

,DÃ­a,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic,year
0,1,NaN,NaN,NaN,852.03,NaN,806.32,821.23,NaN,776.46,788.15,NaN,767.29,2020
1,2,748.74,NaN,818.32,863.81,NaN,796.46,816.29,NaN,770.59,785.04,771.92,760.16,2020
2,3,754.16,799.11,817.45,861.89,NaN,782.86,803.98,757.06,771.45,NaN,769.17,755.34,2020
3,4,NaN,790.92,809.81,NaN,837.92,769.13,NaN,761.34,773.71,NaN,758.53,752.03,2020
4,5,NaN,781.78,812.19,NaN,838.74,775.58,NaN,767.98,NaN,790.81,757.16,NaN,2020
5,6,758.49,776.99,823.28,863.99,832.84,NaN,801.46,774.82,NaN,794.34,752.01,NaN,2020
6,7,771.82,779.12,NaN,853.91,839.08,NaN,798.79,777.18,773.76,797.35,NaN,747.61,2020
7,8,773.12,NaN,NaN,842.05,836.27,764.97,793.88,NaN,773.24,795.05,NaN,NaN,2020
8,9,766.83,NaN,828.95,851.90,NaN,769.26,786.18,NaN,776.65,797.25,759.25,744.82,2020
9,10,764.69,788.80,841.06,NaN,NaN,771.96,781.74,784.28,767.87,NaN,753.75,739.45,2020
10,11,NaN,795.88,834.22,NaN,827.65,767.93,NaN,796.58,764.99,NaN,760.90,738.17,2020
11,12,NaN,792.48,835.48,NaN,826.05,784.65,NaN,793.61,NaN,NaN,757.42,NaN,2020
12,13,770.56,788.33,852.06,839.49,821.88,NaN,790.82,792.69,NaN,796.05,757.43,NaN,2020
13,14,777.66,795.12,NaN,844.57,820.38,NaN,788.22,793.32,768.34,797.66,NaN,733.55,2020
14,15,772.29,NaN,NaN,848.63,822.93,790.73,787.87,NaN,767.01,798.56,NaN,731.58,2020
15,16,772.01,NaN,836.66,859.31,NaN,796.87,NaN,NaN,760.01,801.91,766.70,734.23,2020
16,17,773.36,792.73,850.51,852.52,NaN,779.10,787.50,796.73,761.54,NaN,767.86,735.09,2020
17,18,NaN,791.95,855.09,NaN,823.86,798.53,NaN,803.40,NaN,NaN,767.05,723.44,2020
18,19,NaN,796.90,862.69,NaN,820.65,812.19,NaN,796.23,NaN,795.68,758.10,NaN,2020
19,20,771.38,797.40,867.83,849.45,819.08,NaN,787.26,784.25,NaN,788.27,758.62,NaN,2020
20,21,769.93,804.74,NaN,856.23,NaN,NaN,786.04,785.84,764.34,786.66,NaN,723.85,2020
21,22,770.50,NaN,NaN,862.06,806.17,817.33,777.66,NaN,772.83,784.07,NaN,730.70,2020
22,23,772.12,NaN,851.01,856.51,NaN,816.02,769.06,NaN,773.40,781.41,761.55,728.96,2020
23,24,771.94,809.82,861.07,858.87,NaN,817.90,767.17,790.88,781.44,NaN,765.96,716.25,2020
24,25,NaN,810.20,847.04,NaN,805.75,820.68,NaN,786.17,788.02,NaN,772.83,NaN,2020
25,26,NaN,807.96,843.96,NaN,803.74,813.25,NaN,784.44,NaN,777.72,771.68,NaN,2020
26,27,776.52,811.10,836.05,859.95,802.10,NaN,768.63,786.91,NaN,779.57,766.00,NaN,2020
27,28,787.86,816.26,NaN,856.76,816.47,NaN,768.81,784.27,787.15,772.05,NaN,710.26,2020
28,29,788.13,NaN,NaN,850.41,812.74,NaN,767.82,NaN,784.19,775.56,NaN,710.64,2020
29,30,788.18,NaN,835.23,836.62,NaN,816.36,759.18,NaN,784.46,770.45,766.69,711.24,2020
30,31,797.96,NaN,846.30,NaN,NaN,NaN,754.45,779.92,NaN,NaN,NaN,NaN,2020

El archivo 'dolar_2020_sii_AA.dat' es de texto plano, pero tiene letras para separar las columnas. Los separadores son distintos segÃºn cada fila, pero tienen la siguiente estructura: una "X", seguido por otra letra del abecedario (distinta a la "X", en mayÃºscula o minÃºscula), seguido por otra "X". Por ejemplo, el separador de la primera fila de "XAX". 

AdemÃ¡s, la base de datos no tiene nombres de las columnas. Por lo tanto, para importarla se debe especificar header=None.

Por otro lado, los decimales estÃ¡n separados por ",", por lo que para importarlo hay que usar sep=';', de lo contrario considera ',' como separador, y eso da error.

Al importar la base de datos, queda con una sola columna con toda la informaciÃ³n.

In [7]:
dolar_2020_regex = pd.read_csv('https://raw.githubusercontent.com/CatitaR/tarea1-add/master/data/raw/dolar_2020_sii_AA.dat',
                              sep=';',
                              header=None)
dolar_2020_regex

                                                    0
0   1XAXXAXXAXXAX852,03XAXXAX806,32XAX821,23XAXXAX...
1   2XBX748,74XBXXBX818,32XBX863,81XBXXBX796,46XBX...
2   3XBX754,16XZX799,11XZX817,45XZX861,89XZXXZX782...
3   4XZXXtX790,92XtX809,81XtXXtX837,92XtX769,13XtX...
4   5XtXXtX781,78XtX812,19XtXXtX838,74XtX775,58XtX...
5   6XtX758,49XtX776,99XtX823,28XtX863,99XtX832,84...
6   7XtX771,82XtX779,12XtXXtX853,91XtX839,08XtXXtX...
7   8XtX773,12XtXXtXXtX842,05XtX836,27XtX764,97XjX...
8   9XjX766,83XjXXjX828,95XjX851,90XjXXjX769,26XjX...
9   10XjX764,69XjX788,80XjX841,06XjXXjXXjX771,96Xj...
10  11XiXXiX795,88XiX834,22XiXXiX827,65XiX767,93Xi...
11  12XiXXiX792,48XiX835,48XiXXiX826,05XiX784,65Xi...
12  13XiX770,56XiX788,33XiX852,06XiX839,49XiX821,8...
13  14XiX777,66XiX795,12XiXXiX844,57XiX820,38XiXXi...
14  15XiX772,29XiXXiXXiX848,63XiX822,93XuX790,73Xu...
15  16XuX772,01XuXXuX836,66XuX859,31XuXXuX796,87Xu...
16  17XuX773,36XuX792,73XuX850,51XuX852,52XuXXuX77...
17  18XuXXuX791,95XuX855,09XuXXuX823,86XuX798,53Xu...
18  19XhXXhX796,90XhX862,69XhXXhX820,65XhX812,19Xh...
19  20XhX771,38XhX797,40XhX867,83XhX849,45XhX819,0...
20  21XaX769,93XaX804,74XaXXaX856,23XaXXaXXaX786,0...
21  22XaX770,50XaXXÃ¡XXÃ¡X862,06XÃ¡X806,17XÃ¡X817,33XÃ¡...
22  23XÃ¡X772,12XÃ¡XXÃ¡X851,01XÃ¡X856,51XÃ¡XXÃ¡X816,02XÃ¡...
23  24XÃ¡X771,94XÃ¡X809,82XÃ¡X861,07XÃ¡X858,87XÃ¡XXÃ¡X81...
24  25XYXXYX810,20XYX847,04XYXXYX805,75XYX820,68XY...
25  26XYXXYX807,96XYX843,96XYXXYX803,74XYX813,25XY...
26  27XYX776,52XYX811,10XYX836,05XYX859,95XYX802,1...
27  28XYX787,86XYX816,26XYXXYX856,76XYX816,47XYXXY...
28  29XYX788,13XYXXYXXYX850,41XYX812,74XYXXYX767,8...
29  30XYX788,18XYXXYX835,23XYX836,62XYXXYX816,36XY...
30  31XYX797,96XYXXYX846,30XYXXYXXYXXYX754,45XYX77...
31  PromedioXYX772,65XYX796,38XYX839,38XYX853,38XY...

In [8]:
#aplico una expresiÃ³n regular, que reemplaza el patrÃ³n X+letra+X por ";". 
#La letra puede estar en mayÃºscula o minÃºscula, puede ser una Ã± o puede tener tildes
dolar_2020_regex[0].replace(r'X[a-zA-ZÃ-Ã¿\u00f1\u00d1]X',';',regex=True, inplace = True)
dolar_2020_regex

                                                    0
0   1;;;;852,03;;806,32;821,23;;776,46;788,15;;767,29
1   2;748,74;;818,32;863,81;;796,46;816,29;;770,59...
2   3;754,16;799,11;817,45;861,89;;782,86;803,98;7...
3   4;;790,92;809,81;;837,92;769,13;;761,34;773,71...
4   5;;781,78;812,19;;838,74;775,58;;767,98;;790,8...
5   6;758,49;776,99;823,28;863,99;832,84;;801,46;7...
6   7;771,82;779,12;;853,91;839,08;;798,79;777,18;...
7   8;773,12;;;842,05;836,27;764,97;793,88;;773,24...
8   9;766,83;;828,95;851,90;;769,26;786,18;;776,65...
9   10;764,69;788,80;841,06;;;771,96;781,74;784,28...
10  11;;795,88;834,22;;827,65;767,93;;796,58;764,9...
11  12;;792,48;835,48;;826,05;784,65;;793,61;;;757...
12  13;770,56;788,33;852,06;839,49;821,88;;790,82;...
13  14;777,66;795,12;;844,57;820,38;;788,22;793,32...
14  15;772,29;;;848,63;822,93;790,73;787,87;;767,0...
15  16;772,01;;836,66;859,31;;796,87;;;760,01;801,...
16  17;773,36;792,73;850,51;852,52;;779,10;787,50;...
17  18;;791,95;855,09;;823,86;798,53;;803,40;;;767...
18  19;;796,90;862,69;;820,65;812,19;;796,23;;795,...
19  20;771,38;797,40;867,83;849,45;819,08;;787,26;...
20  21;769,93;804,74;;856,23;;;786,04;785,84;764,3...
21  22;770,50;;;862,06;806,17;817,33;777,66;;772,8...
22  23;772,12;;851,01;856,51;;816,02;769,06;;773,4...
23  24;771,94;809,82;861,07;858,87;;817,90;767,17;...
24  25;;810,20;847,04;;805,75;820,68;;786,17;788,0...
25  26;;807,96;843,96;;803,74;813,25;;784,44;;777,...
26  27;776,52;811,10;836,05;859,95;802,10;;768,63;...
27  28;787,86;816,26;;856,76;816,47;;768,81;784,27...
28  29;788,13;;;850,41;812,74;;767,82;;784,19;775,...
29  30;788,18;;835,23;836,62;;816,36;759,18;;784,4...
30             31;797,96;;846,30;;;;754,45;779,92;;;;
31  Promedio;772,65;796,38;839,38;853,38;821,81;79...

In [9]:
#Ahora hago un split de la base de datos, separando la columna 0 con el caracter ';'.
#Cambio los nombres de las columnas para que sean los mismos de la base 'dolar_2019'
dolar_2020_regex = pd.DataFrame(dolar_2020_regex[0].str.split(';', expand=True))
dolar_2020_regex.columns = names
dolar_2020_regex

,DÃ­a,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic
0,1,,,,"852,03",,"806,32","821,23",,"776,46","788,15",,"767,29"
1,2,"748,74",,"818,32","863,81",,"796,46","816,29",,"770,59","785,04","771,92","760,16"
2,3,"754,16","799,11","817,45","861,89",,"782,86","803,98","757,06","771,45",,"769,17","755,34"
3,4,,"790,92","809,81",,"837,92","769,13",,"761,34","773,71",,"758,53","752,03"
4,5,,"781,78","812,19",,"838,74","775,58",,"767,98",,"790,81","757,16",
5,6,"758,49","776,99","823,28","863,99","832,84",,"801,46","774,82",,"794,34","752,01",
6,7,"771,82","779,12",,"853,91","839,08",,"798,79","777,18","773,76","797,35",,"747,61"
7,8,"773,12",,,"842,05","836,27","764,97","793,88",,"773,24","795,05",,
8,9,"766,83",,"828,95","851,90",,"769,26","786,18",,"776,65","797,25","759,25","744,82"
9,10,"764,69","788,80","841,06",,,"771,96","781,74","784,28","767,87",,"753,75","739,45"
10,11,,"795,88","834,22",,"827,65","767,93",,"796,58","764,99",,"760,90","738,17"
11,12,,"792,48","835,48",,"826,05","784,65",,"793,61",,,"757,42",
12,13,"770,56","788,33","852,06","839,49","821,88",,"790,82","792,69",,"796,05","757,43",
13,14,"777,66","795,12",,"844,57","820,38",,"788,22","793,32","768,34","797,66",,"733,55"
14,15,"772,29",,,"848,63","822,93","790,73","787,87",,"767,01","798,56",,"731,58"
15,16,"772,01",,"836,66","859,31",,"796,87",,,"760,01","801,91","766,70","734,23"
16,17,"773,36","792,73","850,51","852,52",,"779,10","787,50","796,73","761,54",,"767,86","735,09"
17,18,,"791,95","855,09",,"823,86","798,53",,"803,40",,,"767,05","723,44"
18,19,,"796,90","862,69",,"820,65","812,19",,"796,23",,"795,68","758,10",
19,20,"771,38","797,40","867,83","849,45","819,08",,"787,26","784,25",,"788,27","758,62",
20,21,"769,93","804,74",,"856,23",,,"786,04","785,84","764,34","786,66",,"723,85"
21,22,"770,50",,,"862,06","806,17","817,33","777,66",,"772,83","784,07",,"730,70"
22,23,"772,12",,"851,01","856,51",,"816,02","769,06",,"773,40","781,41","761,55","728,96"
23,24,"771,94","809,82","861,07","858,87",,"817,90","767,17","790,88","781,44",,"765,96","716,25"
24,25,,"810,20","847,04",,"805,75","820,68",,"786,17","788,02",,"772,83",
25,26,,"807,96","843,96",,"803,74","813,25",,"784,44",,"777,72","771,68",
26,27,"776,52","811,10","836,05","859,95","802,10",,"768,63","786,91",,"779,57","766,00",
27,28,"787,86","816,26",,"856,76","816,47",,"768,81","784,27","787,15","772,05",,"710,26"
28,29,"788,13",,,"850,41","812,74",,"767,82",,"784,19","775,56",,"710,64"
29,30,"788,18",,"835,23","836,62",,"816,36","759,18",,"784,46","770,45","766,69","711,24"
30,31,"797,96",,"846,30",,,,"754,45","779,92",,,,
31,Promedio,"772,65","796,38","839,38","853,38","821,81","793,72","784,73","784,66","773,40","788,27","762,88","734,73"

In [10]:
#Reemplazo las celdas en blanco con NaN, de lo contrario no me deja convertirlo a float
dolar_2020_regex = dolar_2020_regex.apply(lambda x: x.str.strip()).replace('', np.nan)
#filtro sacando la Ãºltima fila
dolar_2020_regex = dolar_2020_regex[dolar_2020_regex['DÃ­a'] != 'Promedio']
#convierto la primera fila de la variable a tipo 'int' y las siguientes a tipo 'float', reemplazando la coma por punto
for i in dolar_2020_regex:
    if i=='DÃ­a':
        dolar_2020_regex[i] = dolar_2020_regex[i].str.replace(',', '.').astype(int)
    else:
        dolar_2020_regex[i] = dolar_2020_regex[i].str.replace(',', '.').astype(float)
#creo la variable 'year', que toma el valor 2020 y es de tipo int64
dolar_2020_regex['year'] = 2020
dolar_2020_regex['year'] = dolar_2020_regex['year'].astype('int64')
dolar_2020_regex

,DÃ­a,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic,year
0,1,NaN,NaN,NaN,852.03,NaN,806.32,821.23,NaN,776.46,788.15,NaN,767.29,2020
1,2,748.74,NaN,818.32,863.81,NaN,796.46,816.29,NaN,770.59,785.04,771.92,760.16,2020
2,3,754.16,799.11,817.45,861.89,NaN,782.86,803.98,757.06,771.45,NaN,769.17,755.34,2020
3,4,NaN,790.92,809.81,NaN,837.92,769.13,NaN,761.34,773.71,NaN,758.53,752.03,2020
4,5,NaN,781.78,812.19,NaN,838.74,775.58,NaN,767.98,NaN,790.81,757.16,NaN,2020
5,6,758.49,776.99,823.28,863.99,832.84,NaN,801.46,774.82,NaN,794.34,752.01,NaN,2020
6,7,771.82,779.12,NaN,853.91,839.08,NaN,798.79,777.18,773.76,797.35,NaN,747.61,2020
7,8,773.12,NaN,NaN,842.05,836.27,764.97,793.88,NaN,773.24,795.05,NaN,NaN,2020
8,9,766.83,NaN,828.95,851.90,NaN,769.26,786.18,NaN,776.65,797.25,759.25,744.82,2020
9,10,764.69,788.80,841.06,NaN,NaN,771.96,781.74,784.28,767.87,NaN,753.75,739.45,2020
10,11,NaN,795.88,834.22,NaN,827.65,767.93,NaN,796.58,764.99,NaN,760.90,738.17,2020
11,12,NaN,792.48,835.48,NaN,826.05,784.65,NaN,793.61,NaN,NaN,757.42,NaN,2020
12,13,770.56,788.33,852.06,839.49,821.88,NaN,790.82,792.69,NaN,796.05,757.43,NaN,2020
13,14,777.66,795.12,NaN,844.57,820.38,NaN,788.22,793.32,768.34,797.66,NaN,733.55,2020
14,15,772.29,NaN,NaN,848.63,822.93,790.73,787.87,NaN,767.01,798.56,NaN,731.58,2020
15,16,772.01,NaN,836.66,859.31,NaN,796.87,NaN,NaN,760.01,801.91,766.70,734.23,2020
16,17,773.36,792.73,850.51,852.52,NaN,779.10,787.50,796.73,761.54,NaN,767.86,735.09,2020
17,18,NaN,791.95,855.09,NaN,823.86,798.53,NaN,803.40,NaN,NaN,767.05,723.44,2020
18,19,NaN,796.90,862.69,NaN,820.65,812.19,NaN,796.23,NaN,795.68,758.10,NaN,2020
19,20,771.38,797.40,867.83,849.45,819.08,NaN,787.26,784.25,NaN,788.27,758.62,NaN,2020
20,21,769.93,804.74,NaN,856.23,NaN,NaN,786.04,785.84,764.34,786.66,NaN,723.85,2020
21,22,770.50,NaN,NaN,862.06,806.17,817.33,777.66,NaN,772.83,784.07,NaN,730.70,2020
22,23,772.12,NaN,851.01,856.51,NaN,816.02,769.06,NaN,773.40,781.41,761.55,728.96,2020
23,24,771.94,809.82,861.07,858.87,NaN,817.90,767.17,790.88,781.44,NaN,765.96,716.25,2020
24,25,NaN,810.20,847.04,NaN,805.75,820.68,NaN,786.17,788.02,NaN,772.83,NaN,2020
25,26,NaN,807.96,843.96,NaN,803.74,813.25,NaN,784.44,NaN,777.72,771.68,NaN,2020
26,27,776.52,811.10,836.05,859.95,802.10,NaN,768.63,786.91,NaN,779.57,766.00,NaN,2020
27,28,787.86,816.26,NaN,856.76,816.47,NaN,768.81,784.27,787.15,772.05,NaN,710.26,2020
28,29,788.13,NaN,NaN,850.41,812.74,NaN,767.82,NaN,784.19,775.56,NaN,710.64,2020
29,30,788.18,NaN,835.23,836.62,NaN,816.36,759.18,NaN,784.46,770.45,766.69,711.24,2020
30,31,797.96,NaN,846.30,NaN,NaN,NaN,754.45,779.92,NaN,NaN,NaN,NaN,2020

In [11]:
#exportar las bases de datos segÃºn lo indicado
os.chdir('/Users/catalinaeq/Documents/GitHub/tarea1-add/data/interim')
dolar_2019.to_csv('d2019.csv',sep=',')
dolar_2020_txt.to_csv('d2020.txt',sep=' ')
dolar_2020_regex.to_csv('dolar_2020_excel.csv',sep=';')

In [12]:
#concatenar con axis=1
df_concat_1 = pd.concat([dolar_2019,dolar_2020_txt],axis=1)
df_concat_1

,DÃ­a,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,...,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic,year
0,1,NaN,657.81,651.79,678.53,NaN,NaN,679.15,700.82,NaN,...,852.03,NaN,806.32,821.23,NaN,776.46,788.15,NaN,767.29,2020
1,2,694.77,NaN,NaN,672.56,678.71,NaN,677.62,704.88,720.20,...,863.81,NaN,796.46,816.29,NaN,770.59,785.04,771.92,760.16,2020
2,3,697.09,NaN,NaN,670.05,683.31,709.80,681.30,NaN,724.72,...,861.89,NaN,782.86,803.98,757.06,771.45,NaN,769.17,755.34,2020
3,4,697.64,655.39,656.57,667.55,NaN,704.59,680.48,NaN,725.69,...,NaN,837.92,769.13,NaN,761.34,773.71,NaN,758.53,752.03,2020
4,5,NaN,653.80,659.07,666.32,NaN,696.78,677.64,711.13,723.30,...,NaN,838.74,775.58,NaN,767.98,NaN,790.81,757.16,NaN,2020
5,6,NaN,652.78,657.49,NaN,678.68,693.25,NaN,721.70,717.52,...,863.99,832.84,NaN,801.46,774.82,NaN,794.34,752.01,NaN,2020
6,7,688.42,653.90,658.40,NaN,681.09,692.21,NaN,716.35,NaN,...,853.91,839.08,NaN,798.79,777.18,773.76,797.35,NaN,747.61,2020
7,8,679.69,654.44,662.19,664.17,683.49,NaN,683.12,718.55,NaN,...,842.05,836.27,764.97,793.88,NaN,773.24,795.05,NaN,NaN,2020
8,9,680.10,NaN,NaN,663.01,684.51,NaN,685.83,710.98,711.22,...,851.90,NaN,769.26,786.18,NaN,776.65,797.25,759.25,744.82,2020
9,10,678.09,NaN,NaN,663.15,686.43,692.28,688.88,NaN,713.72,...,NaN,NaN,771.96,781.74,784.28,767.87,NaN,753.75,739.45,2020
10,11,677.58,656.46,670.83,662.92,NaN,697.34,685.40,NaN,714.77,...,NaN,827.65,767.93,NaN,796.58,764.99,NaN,760.90,738.17,2020
11,12,NaN,660.82,669.37,664.19,NaN,693.60,683.38,712.04,714.39,...,NaN,826.05,784.65,NaN,793.61,NaN,NaN,757.42,NaN,2020
12,13,NaN,660.49,667.09,NaN,685.67,694.89,NaN,716.69,711.29,...,839.49,821.88,NaN,790.82,792.69,NaN,796.05,757.43,NaN,2020
13,14,675.15,661.60,665.68,NaN,693.04,696.25,NaN,708.37,NaN,...,844.57,820.38,NaN,788.22,793.32,768.34,797.66,NaN,733.55,2020
14,15,674.95,665.90,670.62,660.67,692.33,NaN,681.07,NaN,NaN,...,848.63,822.93,790.73,787.87,NaN,767.01,798.56,NaN,731.58,2020
15,16,673.76,NaN,NaN,662.86,692.62,NaN,NaN,710.14,707.07,...,859.31,NaN,796.87,NaN,NaN,760.01,801.91,766.70,734.23,2020
16,17,672.73,NaN,NaN,663.98,692.79,698.72,679.48,NaN,709.81,...,852.52,NaN,779.10,787.50,796.73,761.54,NaN,767.86,735.09,2020
17,18,671.37,663.98,669.39,660.48,NaN,699.52,681.69,NaN,NaN,...,NaN,823.86,798.53,NaN,803.40,NaN,NaN,767.05,723.44,2020
18,19,NaN,660.82,667.21,NaN,NaN,696.81,683.27,709.26,NaN,...,NaN,820.65,812.19,NaN,796.23,NaN,795.68,758.10,NaN,2020
19,20,NaN,658.75,664.78,NaN,696.61,693.99,NaN,711.94,NaN,...,849.45,819.08,NaN,787.26,784.25,NaN,788.27,758.62,NaN,2020
20,21,670.10,654.52,666.13,NaN,NaN,684.19,NaN,710.63,NaN,...,856.23,NaN,NaN,786.04,785.84,764.34,786.66,NaN,723.85,2020
21,22,672.42,654.33,665.12,662.27,697.23,NaN,685.81,709.52,NaN,...,862.06,806.17,817.33,777.66,NaN,772.83,784.07,NaN,730.70,2020
22,23,672.26,NaN,NaN,663.91,696.70,NaN,688.28,713.22,715.24,...,856.51,NaN,816.02,769.06,NaN,773.40,781.41,761.55,728.96,2020
23,24,672.41,NaN,NaN,668.19,698.03,683.41,691.57,NaN,722.17,...,858.87,NaN,817.90,767.17,790.88,781.44,NaN,765.96,716.25,2020
24,25,672.14,651.36,676.60,672.83,NaN,682.31,691.36,NaN,721.92,...,NaN,805.75,820.68,NaN,786.17,788.02,NaN,772.83,NaN,2020
25,26,NaN,649.22,679.08,676.21,NaN,678.32,694.16,716.40,727.08,...,NaN,803.74,813.25,NaN,784.44,NaN,777.72,771.68,NaN,2020
26,27,NaN,649.80,679.02,NaN,694.84,680.06,NaN,718.75,726.17,...,859.95,802.10,NaN,768.63,786.91,NaN,779.57,766.00,NaN,2020
27,28,667.04,649.92,683.73,NaN,696.46,679.86,NaN,721.55,NaN,...,856.76,816.47,NaN,768.81,784.27,787.15,772.05,NaN,710.26,2020
28,29,671.29,NaN,681.09,673.86,703.48,NaN,696.62,724.20,NaN,...,850.41,812.74,NaN,767.82,NaN,784.19,775.56,NaN,710.64,2020
29,30,669.60,NaN,NaN,677.67,708.20,NaN,697.22,720.65,725.68,...,836.62,NaN,816.36,759.18,NaN,784.46,770.45,766.69,711.24,2020
30,31,666.76,NaN,NaN,NaN,707.86,NaN,699.98,NaN,NaN,...,NaN,NaN,NaN,754.45,779.92,NaN,NaN,NaN,NaN,2020

In [13]:
#concatenar con axis=0
df_concat_0 = pd.concat([dolar_2019,dolar_2020_txt],axis=0)
df_concat_0

,DÃ­a,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic,year
0,1,NaN,657.81,651.79,678.53,NaN,NaN,679.15,700.82,NaN,728.21,NaN,NaN,2019
1,2,694.77,NaN,NaN,672.56,678.71,NaN,677.62,704.88,720.20,729.38,NaN,812.13,2019
2,3,697.09,NaN,NaN,670.05,683.31,709.80,681.30,NaN,724.72,727.80,NaN,804.29,2019
3,4,697.64,655.39,656.57,667.55,NaN,704.59,680.48,NaN,725.69,719.53,735.05,802.44,2019
4,5,NaN,653.80,659.07,666.32,NaN,696.78,677.64,711.13,723.30,NaN,736.66,796.75,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,27,776.52,811.10,836.05,859.95,802.10,NaN,768.63,786.91,NaN,779.57,766.00,NaN,2020
27,28,787.86,816.26,NaN,856.76,816.47,NaN,768.81,784.27,787.15,772.05,NaN,710.26,2020
28,29,788.13,NaN,NaN,850.41,812.74,NaN,767.82,NaN,784.19,775.56,NaN,710.64,2020
29,30,788.18,NaN,835.23,836.62,NaN,816.36,759.18,NaN,784.46,770.45,766.69,711.24,2020
30,31,797.96,NaN,846.30,NaN,NaN,NaN,754.45,779.92,NaN,NaN,NaN,NaN,2020

El problema que se produce en df_concat_0 es que se repiten los Ã­ndices, mientras que en df_concat_1 se repiten las columnas. Esto podrÃ­a traer problemas al momento de querer llamar un Ã­ndice o una columna por su nombre, ya que estÃ¡n mÃ¡s de una vez